In [5]:
pip install datetime

Requirement already satisfied: datetime in c:\users\rona_\anaconda3\lib\site-packages (4.3)
Requirement already satisfied: zope.interface in c:\users\rona_\anaconda3\lib\site-packages (from datetime) (4.6.0)
Requirement already satisfied: pytz in c:\users\rona_\anaconda3\lib\site-packages (from datetime) (2018.9)
Requirement already satisfied: setuptools in c:\users\rona_\anaconda3\lib\site-packages (from zope.interface->datetime) (40.8.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Dependencies and Setup
import pandas as pd
import datetime
import time

cities_df = pd.read_csv("raw_cities.csv")
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [14]:
cities_df.set_index('Date', inplace=True)

cities_df = cities_df.index.tz_convert('America/Los_Angeles')
cities_df.head()

AttributeError: 'Int64Index' object has no attribute 'tz_convert'

In [ ]:
# Convert UTC code to a date format

# Set converted date list
converted_date = [] 

# Use for loop to append date conversion to converted_date list
for day in date:
    converted_date.append(
        datetime.datetime.fromtimestamp(int(day)).strftime('%m/%d/%Y')
    )

# Preview first 5 converted dates
converted_date[0:5]